@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@400;500&family=Space+Mono&display=swap");

* {
  box-sizing: border-box;
}
.body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



html,
.body {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  #map {
    width: 75%;
    margin: 0 auto;
  }
}





#map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}


#modal {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: hidden;
}

.modal-dialog {
  max-width: 800px;
}

.modal-center {
}

#modal .modal-dialog {
  width: 100%;
  height: 600px;
}

.modal-header {
  height: 70px;

  background-color: blue;
  color: white;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.select-div {
  display: flex;
}

#firstName {
  font-size: 1.5em;
}

.btn-close {
  color: #fff;
  opacity: 1;
}

.modal-body {
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}



.name-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countryFlag {
  width: 220px;
  margin: 1.5rem;
}

#countryFlag img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

#weather-icon {
  background-color: black;
  width: 50px;
  height: auto;
  border-radius: 0.4rem;
  margin-left: 0.5rem;
  padding: 0;
}

#weather-icon img {
  width: 50px;
  height: 50px;
}

#weatherSmallIcon {
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.country {
  text-align: center;
}



i {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

h6 {
  display: flex;
  align-items: center;
}
h6 span {
  margin-left: 5px;
}

.row-icon {
  color: blue;
  font-size: 2rem;
}










.wikipedia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.wikipedia-link {
  font-size: 18px;
  font-weight: bold;
  color: blue;
  text-decoration: none;
  margin-bottom: 10px;
}

.wikipedia-link:hover {
  text-decoration: underline;
}

.wikipedia-summary {
  font-size: 14px;
  color: gray;
  text-align: center;
}

.marker-title {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.marker-link {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white !important;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.marker-link:hover {
  background-color: #0069d9;
}

.wikiIcon i,
.populationIcon i {
  text-align: center;
}

.fa-wikipedia-w {
  display: inline-block;
  font-size: inherit;
  width: auto !important;
  height: 100% !important;
  overflow: visible;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.populationIcon {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}



.marker-cluster .fa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.marker-cluster .fa::before {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}



#btnModal {
  max-width: 500px;
}

@media (min-width: 768px) {
  .select-container {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .select-container {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .select-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.easy-button i {
  margin: auto;
  padding: 0;
}

.easy-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.leaflet-bar i {
  line-height: 35px;
}

.fa-wikipedia-w {
  font-size: 10px;
}

.travelCostIcon {
  margin-top: -75px;
}

.my-custom-marker {
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}

.marker-container {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-flag {
  width: 100%;
  height: 100%;
}

i {
  text-align: center;
}

.my-custom-icon-class {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0 auto;
}

.my-custom-icon-class .fa {
  text-align: center;
}

.my-custom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
}



.my-custom-icon:hover {
  background-color: lightgrey;
  color: white;
}

.my-custom-icon i.fa-brands {
  margin-left: auto;
  margin-right: auto;
  transform: translate(-0.5px, 2px);
}

.my-custom-icon i.fa-brands:hover {
  color: white;
}

.my-custom-icon i.fa-solid {
  margin-left: auto;
  margin-right: auto;
  transform: translate(0px, 2.3px);
}

.my-roadgoat-icon i.fa-map-location {
  margin-left: auto;
  margin-right: auto;
  transform: translate(0px, 2.3px);

  font-size: 14px;
}



.my-custom-icon i.fas {
  margin-left: auto;
  margin-right: auto;
  transform: translate(-0.3px, 2px);
}

#countryButton,
#weatherButton,
#currencyButton,
#holidayButton,
#newsButton,
#imagesButton {
  height: 35px;
  width: 35px;
  
  
}







@media (max-width: 767px) {
  #countrySelect {
    width: 70%;
  }
}

.btn-close {
  font-size: 1em;
}

#content {
  height: 100%;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .modal-dialog {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .modal-center {
    margin-left: 0;
  }
}



.modal-title {
  font-size: 1.5rem;
  margin-left: 0.5rem;

}

@media only screen and (max-width: 600px) {
  .modal-title {
    font-size: 1rem;
    margin-left: 0;
  }
}




.leaflet-control-zoom-in:before,
.leaflet-control-zoom-out:before {
  top: 50%;
  left: 50%;
  transform: translate(-90%, -10%);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

// City marker

.city-details {
  display: flex;
  justify-content: center;
  line-height: 1.5em;
  
}

.city-icon {
  color: #33B3A6;
  font-size: 48px;
  display: block;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.city-name {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
}

.city-population {
  margin-bottom: 1rem;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
}

.city-wikipedia {
  margin-bottom: 1rem;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  text-align: center;
}

.city-wikipedia a {
  color: blue;
  margin-left: 0.5rem;
 
}

.city-wikipedia a:hover {
  color: lightblue;
}

.city-timezone {
  margin-bottom: 1rem;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  text-align: center;
}

.city-latitude {
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.city-longitude {
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
}

// Country Marker

.country-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.country-flag-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.country-flag-container {
  width: 220px;
  height: 100%;
  background-color: #c7ecee;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.country-flag {
  height: 120px;
  width: 200px;
  border-radius: 10px;
}

.country-name {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.country-capital,
.country-currency,
.country-population {
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}



//EarthQuake Marker

.earthquake-location {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.earthquake-location h3 {
  margin-bottom: 0;
}

.earthquake-location h6 {
  margin-top: 0.5rem;
  text-align: center;
}

.earthquake-info {
  text-align: left;
  font-size: 0.9rem;
}

.earthquake-info div {
}

h3 i.fa-exclamation-triangle {
  color: red;
}

//RoadGoat Marker

.roadgoat-container {
  text-align: center;

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.roadgoat-container a {
  color: #ff6daa;
}

.roadgoat-heading {
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.roadgoat-title {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.2rem;
}

.roadgoat-icon {
  margin-top: 0.8rem;
  font-size: 40px;
  text-align: center;
  width: 100%;
  color: #ff6daa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(2px);
}

.roadgoat-info {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.city-name {
  margin-top: 0.2rem;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lodging-container {
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

.lodging-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.things-to-do-container {
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

.things-to-do-info {
  margin-bottom: 0.5rem;
}

.things-to-do-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.keep-in-mind-container {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

.keep-in-mind-container-info {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.keep-in-mind-title {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.keep-in-mind-info {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}

.info-value {
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
}



// Country marker Icon

.custom-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.custom-marker div {
  background-color: #c7ecee;
  border: 2px solid black;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-marker img {
  height: 18px;
  width: 19px;
}



@media only screen and (max-width: 768px) {
  .modalHeader span {
    font-size: 10px;
  }
}

#selectContainer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 0;
}

#countrySelect {
  width: 250px;
  margin: 0 auto;
}


.extra-marker-icon, .roadgoat-marker-icon, .wiki-marker-icon, .airport-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  width: 100%;
  height: 100%;

}

.roadgoat-marker-icon, .wiki-marker-icon {
  transform: translate(0, 4px);
  margin-top: 2px;
 
}

.wiki-marker-icon {
  
  
  font-size: 2rem;
  margin-top: 6px;
} 


//Airport Marker


.airport-details {
  display: flex;
  justify-content: center;
  line-height: 1.5em;
  
}

.airport-icon {
  color: orange;
  font-size: 48px;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.airport-name {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  text-align: center;
}

.airport-city {
  margin-bottom: 1rem;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
}

.airport-city-code {
  margin-bottom: 1rem;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  text-align: center;
}



.airport-popularity {
  margin-bottom: 1rem;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  text-align: center;
}

.airport-latitude {
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.airport-longitude {
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.airport-timezone {
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
}





// Layer Control

.leaflet-control-layers-overlays checkbox {
  vertical-align: middle;
  margin-left: 10px;
  background-color: red;
}

.leaflet-control-layers-base span {
  display: flex;
  align-items: center;
}

.leaflet-control-layers-base span span {
  margin-left: 0.5rem;
}

.leaflet-control-layers-overlays span span {
  margin-left: 0.5rem;


}

.leaflet-control-layers-overlays span span i.fa-brands {
  font-size: 14px;
  margin-bottom: 0.3rem;
  color: black;
  margin-right: 7px;


}

.leaflet-control-layers-overlays span span i.fa-city{
  
  color: #33B3A6;
  font-size: 14px;
  margin-right: 5px;
  

}

.leaflet-control-layers-overlays span span i.fa-exclamation-triangle {
  
  color: red;
  font-size: 14px;
  margin-right: 5px;
  text-align: center;
  

}

.leaflet-control-layers-overlays span span i.fa-plane {
  
    color: orange;
    font-size: 14px;
    margin-right: 5px;
   
  
  
  }

  .leaflet-control-layers-overlays span span i.fa-map-location {
  
    color: #ff6daa;
    font-size: 14px;
    margin-right: 5px;
  
  
  }


.leaflet-control-layers-selector {
  margin-bottom: 0.3rem;
}





.table td:nth-child(3), .table th:nth-child(3) {
  text-align: right;
}



#holiday-table {
  white-space: nowrap;
}

#holiday-table thead th,
#holiday-table tbody td {
  white-space: nowrap;
}

.modal-body {
  overflow-x: auto;
  height: 100%;
}




#holiday-table td:nth-child(3),
#holiday-table th:nth-child(3) {
  text-align: right;
  white-space: nowrap;
 
}

#holiday-table td,
#holiday-table th {
  vertical-align: middle;
}

#holiday-table th:nth-child(2) {
  text-align: left;
  padding-left: 40px;
}

#holiday-table {
  font-size: 1.2rem;
  display: block;
  white-space: nowrap;
}

#holiday-table td {
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#holiday-table td:last-child {
  padding-right: 15px;
  width: 20%;
}

#holiday-table th:last-child {
  padding-right: 65px;
}

#holiday-table th:first-child {
  text-align: center;
}

#holiday-table td:first-child {
  text-align: center;
}

#holiday-table td:nth-child(2) {
  text-align: left;
  padding-left: 40px;
}

#holiday-table th {
  border-bottom: none;
}

#holiday-table tbody tr:nth-of-type(odd) {
  background-color: #F3F1FF;
}






@media only screen and (max-width: 600px) {


  #holiday-table-container {
    height: auto;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-right: 10px;
    
    
  }

  #holiday-table {
    width: max-content;
    white-space: nowrap;
    margin-right: -10px;
    
  }

  #holiday-table td:nth-child(2),
  #holiday-table th:nth-child(2) {
    text-align: center;
    
  }

  #holiday-table th:nth-child(1) {
    text-align: center;
    padding-left: 15px;
  }

  #holiday-table td:nth-child(3),
  #holiday-table th:nth-child(3) {
    text-align: right;
    
  }
}











#exchange-rates-table td {
  height: 60px;
  vertical-align: middle;
  border: 0;
}

#exchange-rates-table th:nth-child(2) {
  text-align: center;
}

#exchange-rates-table th:first-child {
  text-align: left;
  padding-left: 15px;
}

#exchange-rates-table {
  font-size: 1.2rem;
  padding-right: 10px;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap; 
  
}

#exchange-rates-table td {
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px; 
}

#exchange-rates-table td:last-child {
  text-align: right;
  padding-right: 50px;
}

#exchange-rates-table th:last-child {
  text-align: right;
  padding-right: 40px;
}

#exchange-rates-table th {
  border-bottom: none;
}

#exchange-rates-table td:first-child {
  min-width: 200px;
  max-width: 50%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
}

#exchange-rates-table tbody tr:nth-of-type(odd) {
  background-color: #ffffcc; 
}

@media only screen and (max-width: 600px) {
  #exchange-rates-table {
    white-space: nowrap;
    overflow-x: auto;
  }
}









.table td,
.table th {
  text-align: center;
}

.img-responsive {
  max-height: 300px;
  max-height: 450px;
}

#images-table td {
  vertical-align: top;
  padding: 10px;
}

#images-table img {
  max-width: 450px;
  max-height: 300px;
}

#images-table a {
  display: block;
  margin-top: 10px;
}

#images-container {
  columns: 3;
  column-gap: 10px;
  padding: 10px;
  
}

.masonry-item {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.masonry-item img {
  width: 100%;
  height: auto;
  object-fit: cover; 
  object-position: center; 
}







#source-link {
  margin-top: 10px;
}

// World News Data

.news-row {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.news-row td {
  vertical-align: middle;
}

.news-row img {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
}

.news-row h5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.news-row p {
  margin-bottom: 10px;
  text-align: left;
}

.news-row a {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
}

.article-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-row td:last-child {
  vertical-align: middle;
}

.news-link {
  display: flex;
  justify-content: left;
  align-items: left;
}

.news-row .news-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-details .publish-date {
  text-align: left;
}

.img-thumbnail {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
  border: none;
}

.no-image {
  height: 100px;
}




.news-row:nth-of-type(odd) {
  background-color: #F5F5F5; 
}


.news-row td {
  border: none;
}


img[src="dist/img/Image_not_available.png"] {
  filter: brightness(0.7);
}


@media only screen and (max-width: 600px) {
  .news-row {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .news-row img {
    
    max-width: 70%;
    height: auto;
   
  }

  .news-row .img-thumbnail {
    
    margin-right: 0;

  }

  .news-row td {
    
    
    width: 100%;
    display: block;
  }

  .news-row td:first-child {
    padding-top: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: start;
    padding-left: 60px;
   
    
   
  }

  .news-row td:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 60px;
    padding-bottom: 20px;
    
   
  }

  .news-row h5,
  .news-row p,
  .news-row a,
  .news-details .publish-date {
    text-align: left; 
  }

  .news-link {
    justify-content: start;
    align-items: start;
  }

  .img-thumbnail {
    margin-right: 0;
    
  }
}

















#weatherTable .fa {
  width: 100%;
  font-size: 24px; 
  color: blue; 
}



#weatherTable {
  
  font-size: 1.2rem;
}

#weatherTable td {
  vertical-align: middle; 
  height: 80px; 
  padding-top: 20px; 
  padding-bottom: 20px; 
  
}

#weatherTable .fa {
  font-size: 30px; 
  color: blue; 
  
}

#weatherTable td:last-child {
  text-align: right; 
}

#weatherTable {
  border-collapse: collapse; 
}

#weatherTable td {
  border: none; 
}

#weatherTable td:last-child {
  border-right: none; 
  
}

#weatherTable td:first-child {
  width: 1%; 
  padding-left: 80px; 
  padding-right: 10px; 
}



#weatherTable td:last-child {
  text-align: right; 
  padding-right: 30px; 
}

@media only screen and (max-width: 600px) {
  #weatherTable td:first-child {
    width: 1%; 
    padding-left: 10px; 
    padding-right: 10px;
  }
}





#weatherTable tbody tr:nth-of-type(odd) {
  background-color: #f1f6ff; 
}


// Country table 

#countryTable .fa {
  width: 100%;
  font-size: 24px; 
  color: blue; 
}



#countryTable {
  
  font-size: 1.2rem;
}

#countryTable td {
  vertical-align: middle; 
  height: 80px; 
  padding-top: 20px; 
  padding-bottom: 20px;
  border: none;  
}

#countryTable .fa {
  width: 100%;
  font-size: 30px; 
  color: green; 
}



#countryTable {
  border-collapse: collapse; 
}




#countryTable td:first-child {
  width: 1%; 
  padding-left: 80px; 
  padding-right: 10px;
}

#countryTable td:last-child {
  padding-right: 30px; 
  text-align: right;
  border-right: none;
}



#countryTable tbody tr:nth-of-type(odd) {
  background-color: #F6FFF1; 
}

@media only screen and (max-width: 600px) {
  #countryTable td:first-child {
    width: 1%; 
    padding-left: 10px; 
    padding-right: 10px;
  }
}

.no-data-row {
  width: 100%;
  text-align: center;
}

.no-data-div {
  width: 100%;
  text-align: center;

}

